body{
    background: #CCC;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
form{
    width: 300px;
    height: 150px;
    background: #FFFFFF;
    text-align: center;
    margin-top: 10%;
   

}
.btn{
    display: block;
    margin-left: 80px;
    margin-top: 10px;
    width: 150px;
    background: greenyellow;
    border:none;
    border-radius: 5px;

}